.DS_Store
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
.env
.venv
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
.ipynb_checkpoints/
/.vscode/
.idea/
*.log
data/*.csv
